
 @model GDWEBSolution.Models.Student.StudentModel
<div class="row">
    <div class="col-md-12">
        <h3>Student</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Details of the Student </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#bio" data-toggle="tab" aria-expanded="true"> Students</a></li>
                    @*<li class=""><a href="#OptionalSubject" data-toggle="tab" aria-expanded="false">Optional Subject</a></li>
                    <li class=""><a href="#ExtraCuricular" data-toggle="tab" aria-expanded="false">EXtra Curicular</a></li>*@
                    @*<li class="disabled"><a>Disabled</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                          Dropdown <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                                <li class="divider"></li>
                                <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                            </ul>
                        </li>*@
                </ul>
                <br>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="bio">
                 
                         
                            @*<form id="FrmANT" class="form-horizontal">*@
                            <div class="form-horizontal">

                                 <div class="col-sm-8">


                                @*<form id="FrmANT" action="/School/Create"
                                    enctype="multipart/form-data"
                                    method="post"
                                    >*@
                                <br />
                                @Html.HiddenFor(model => model.SchoolId)
                                @*<div class="form-group">

                                        @Html.LabelFor(m => m.SchoolId, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.SchoolId, new { @class = "form-control", @placeholder = "School Id" })
                                            <span class="help-block m-b-none" id="CategoryNameError"></span>
                                            @Html.ValidationMessageFor(model => model.SchoolId, null, new { @class = "text-danger" })
                                        </div>
                                    </div>*@



                                <div class="form-group">
                                    @Html.LabelFor(m => m.SchoolName, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-6">
                                       
                                        @Html.TextBoxFor(model => model.SchoolId, new { @class = "form-control", @placeholder = "School Name", @readonly = "readonly" })
                                     
                                    </div>

                                   
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.StudentId, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.StudentId, new { @class = "form-control", @placeholder = "School Name", @readonly = "readonly" })
                                 
                                    </div>
                                    <div class="col-sm-2">
                                     
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.StudentName, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.StudentName, new { @class = "form-control", @placeholder = "School Name", @readonly = "readonly" })
                                        
                                    </div>
                                    </div>
                              

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.datetimestring, new { @class = "form-control", @placeholder = "Date of Birth", @readonly = "readonly" })
                                      
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(m => m.HouseId, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-4">
                                        
                                        @Html.TextBoxFor(model => model.HouseId, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>
                                  
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.GradeId, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.GradeId, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>
                                  
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ClassId, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.ClassId, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>
                                 
                                </div>

                                     
                                <div class="form-group">


                                    @* @Html.HiddenFor(m=>m.Name)*@
                                    @*        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control" })*@

                                    @*        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder ="Address" })*@
                                    @*<a href="#" id="btnSubmit" class="btn btn-success btn-block">@if(Model.EmployeeId>0){<span>Update</span> }else{<span>Save</span>} </a>*@

                                    <a href="~/Student/Index" class="btn btn-warning"><span class="glyphicon glyphicon-step-backward"></span>Go Back</a>
                                </div>


</div>


                                 


                                <div class="col-sm-3">
                                        <img src="@Url.Content(Model.ImagePathname)" alt="Image" style="height:40%;width:40%;margin-left:70%" />

                                    </div>

















                              
                            </div>
                        
                        @*</form>*@
                    </div>
                    <div class="tab-pane fade" id="qualification">


                        <div id="showgrade">

                        </div>

                    </div>
                    <div class="tab-pane fade" id="Housee">

                        <div id="showHouse">


                        </div>

                    </div>
                    <div class="tab-pane fade" id="excactivity">

                        <div id="showexactivity">


                        </div>

                    </div>

                    <div class="tab-pane fade" id="subjects">

                        <div id="showSubjects">


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
