@model GDWEBSolution.Models.HomeWork.HomeWorkModel
<script>
    $(function () {
        $("#DueDate").datepicker();
    });


</script>

<div>

    <form  action="~/HomeWork/Edit" method="post" enctype="multipart/form-data" style="color: #000;">
        <fieldset>
            

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Homework</h4>
            </div>
            
                @Html.HiddenFor(model => model.AssignmentNo)
            
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.DueDate, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control", @placeholder = "From Date" })
                        <span class="help-block m-b-none" id="DueDateError"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.GradeId, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.DropDownList("GradeId")
                        <span class="help-block m-b-none" id="GradeIdError"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ClassId, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.DropDownList("ClassId")
                        <span class="help-block m-b-none" id="ClassIdError"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.AssignmentDescription, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.AssignmentDescription, new { @class = "form-control", @placeholder = "Special Comment" })
                        <span class="help-block m-b-none" id="AssignmentDescriptionError"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.BatchNo, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.BatchNo, new { @class = "form-control", @placeholder = "To Date" })
                        <span class="help-block m-b-none" id="BatchNoError"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.BatchDescription, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.BatchDescription, new { @class = "form-control", @placeholder = "Acadamic Date" })
                        <span class="help-block m-b-none" id="BatchDescriptionError"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SubjectId, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.DropDownList("SubjectId")
                        <span class="help-block m-b-none" id="AcadamicError"></span>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.FilePath, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.FilePath, new {@class="form-control" ,disabled = "disabled" })
                        <span class="help-block m-b-none" id="AcadamicError"></span>
                        @Html.HiddenFor(model => model.FilePath)
                   
                    <br />
                    <br />
  
                    
                        <label for="fileselect">Files to upload:</label>
                        <input type="file" id="uploadFile" name="File" />

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" />
            </div>
        </fieldset>
    </form>
    <div class="progress">
        <div class="progress-bar">0%</div>
    </div>


</div>




<style>

    #GradeId {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #ClassId {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #SubjectId {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    } 
</style>
@section scripts{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        (function () {
            var bar = $('.progress-bar');
            var percent = $('.progress-bar');
            var status = $('#status');

            $('form').ajaxForm({
                beforeSend: function () {
                    status.empty();
                    var percentValue = '0%';
                    bar.width(percentValue);
                    percent.html(percentValue);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentValue = percentComplete + '%';
                    bar.width(percentValue);
                    percent.html(percentValue);
                },
                success: function (d) {
                    var percentValue = '100%';
                    bar.width(percentValue);
                    percent.html(percentValue);
                    $('#fu1').val('');
                    alert(d);
                },
                complete: function (xhr) {
                    status.html(xhr.responseText);
                }
            });
        })();
    </script>
}