@model IEnumerable<GDWEBSolution.Models.HomeWork.HomeWorkModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#ToDate").datepicker();
    });
    $(function () {
        $("#FromDate").datepicker();
    });
</script>

<div class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">Add New Grade Subject</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
           @using (Html.BeginForm("Index", "HomeWork", FormMethod.Post))
{
            <div class="form-group">
                <div class="row">
                    <lable class="col-sm-2 control-label">From Date</lable>
                    <div class="col-sm-3">

                        @Html.TextBox("FromDate")

                    </div>
                    <lable class="col-sm-2 control-label">To Date</lable>
                    <div class="col-sm-3">

                       @Html.TextBox("ToDate")

                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                    </div>
                </div>
            </div>
            }
            <button type="button" class="btn btn-primary" onclick="ShowView(1)"><span class="fa fa-plus"></span> Add New</button>

        </div>
        <div class="panel-body">
            <table id="zctb" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AssignmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AssignmentDescription)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.GradeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassId)
                        </th>
                        
                        
                       
                        <th>
                            @Html.DisplayNameFor(model => model.BatchNo)
                        </th>
                        
                        
                        
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                        {
                        foreach (var item in Model)
                    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignmentNo)
                                </td>
                               
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.GradeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassId)
                                </td>
                               
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.BatchNo)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectId)
                                </td>
                               
                               
                                <td>
                                    <a class="btn btn-info" onclick='EditView("@item.AssignmentNo","@item.DueDate.ToString("yyyy-MM-dd")")'><span class="fa fa-pencil"></span> Edit </a>
                                    <a class="btn btn-danger" onclick='DeleteView("@item.AssignmentNo")'><span class="fa fa-trash"></span> Delete</a>

                                </td>
                            </tr>
                    }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">

        </div>

    </div>
</div>

<style>
    #FromDate {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #ToDate {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #GradeId {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<script>
    var ShowView = function (id) {
        var Url = "/HomeWork/ShowAddView?id=" + id;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }

    var EditView = function (SeqNo,date) {
        var Url = "/HomeWork/Edit?Code=" + SeqNo+"&dates="+ date;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }

    var DeleteView = function (SeqNo) {
        var Url = "/HomeWork/Delete?Code=" + SeqNo;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>