@model IEnumerable<GDWEBSolution.Models.HomeWork.HomeWorkModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        var date_input = $('input[name="FromDate"]'); //our date input has the name "date"
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true,
        })
    });
    $(document).ready(function () {
        var date_input = $('input[name="ToDate"]'); //our date input has the name "date"
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true,
        })
    });

  
   
</script>

<div class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">Home Work</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            @using (Html.BeginForm("ParentView", "HomeWork", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label" style="font-size:14px;color:black">From Date</label>
                        <div class="col-sm-3">

                            @Html.TextBox("FromDate",(string)ViewBag.FromDate,new{@class="form-control"})

                        </div>
                        <label class="col-sm-2 control-label" style="font-size:14px;color:black">To Date</label>
                        <div class="col-sm-3">

                            @Html.TextBox("ToDate", (string)ViewBag.ToDate, new { @class = "form-control" })

                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                        </div>
                    </div>
                </div>
            }
           
        </div>
        <div class="panel-body">
            <table id="zctb" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GradeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.DueDate)
                        </th>
                         
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    <div>@item.DueDate.ToShortDateString()</div>
                                </td>
                               
                                <td>
                                    <center>
                                     <a class="btn btn-primary" onclick='DetailView("@item.AssignmentNo","@item.DueDate.ToString("yyyy-MM-dd")")'><span class="glyphicon glyphicon-eye-open"></span> Detail</a>
                                  
                                        <a href="@Url.Action("Download", "HomeWork", new { path = @item.FilePath }) " class=" btn btn-default"><span class="glyphicon glyphicon-cloud-download"></span>Download</a>
                                </center>
                                        </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">

        </div>

    </div>
</div>



<script>
   

    var DetailView = function (SeqNo,date) {
        var Url = "/HomeWork/Details?Code=" + SeqNo+"&dates="+ date;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }

   
</script>