@model GDWEBSolution.Models.Schools.SchoolModel
<div class="row">
    <div class="col-md-12">
        
        <div class="panel panel-default">
            <div class="panel-heading">School Detail  </div>
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="bio">
  
        @Html.AntiForgeryToken()
        @*<form id="FrmANT" class="form-horizontal">*@
                            <div class="col-sm-12" style="float:left">
                            
                            
                            <img src="@Url.Content(Model.ImagePath)"  alt="Image" style="height:40%;width:40%;margin-left:20%" />

                                <div class="form-group">
                                    </div>
                               

                        
                                </div>
                            
        <div class="form-horizontal">
            @*<div class="form-group">
                <img src="@Url.Content(Model.ImagePath)" alt="Image" style="height:200px;width:200px;" />
             

                </div>*@
                @*<form id="FrmANT" action="/School/Create"
            enctype="multipart/form-data"
            method="post"
            >*@
                <br />

             
            <div class="col-sm-9">
                <div class="form-group">

                    @Html.LabelFor(m => m.SchoolId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        
                            @Html.TextBoxFor(model => model.SchoolId, new { @class = "form-control", @placeholder = "School Id", @readonly = "readonly" })
                           
                            </div>
                   
                       
                    </div>

           
                <div class="form-group">
                    @Html.LabelFor(m => m.SchoolName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.SchoolName, new { @class = "form-control", @placeholder = "School Name", @readonly = "readonly" })
                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SchoolCategory, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.SchoolCategoryName, new { @class = "form-control", @placeholder = "Name of School type", @readonly = "readonly" })


                    </div>
                   
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Province, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ProvinceName, new { @class = "form-control", @placeholder = "Name of the Provice", @readonly = "readonly" })

                    </div>
                  
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SchoolGroup, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })


                    </div>
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.District, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.DistrictName, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })



                    </div>
                   
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Division, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.DivisionName, new { @class = "form-control", @placeholder = "" , @readonly = "readonly" })



                    </div>
                   
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SchoolRank, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.SchoolRankName, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })



                    </div>
                  
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Addresst, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = " ", @readonly = "readonly" })
                  

                    </div>
                </div>

            <div class="form-group">
                    @Html.LabelFor(m => m.Address2, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                  

                    </div>
                </div>
            <div class="form-group">
                    @Html.LabelFor(m => m.Address3, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Address3, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                  

                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Telephone, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MinuteforPeriod, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.MinuteforPeriod, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                    </div>
                </div>




                <div class="form-group">
                    @Html.LabelFor(m => m.WebAddress, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.WebAddress, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                    </div>
                </div>
                     <div class="col-sm-3" style="float:right">
                        
                         <button type="button" class="btn btn-primary" onclick="ShowView(1)"><span class="fa fa-plus"></span> Back</button>
                    
                  
                  @* <a href="#" id="btnSubmit" class="btn btn-success btn-block">@if(Model.EmployeeId>0){<span>Update</span> }else{<span>Save</span>} </a>*@
                </div>
                </div>


             <div class="col-sm-3" style="float:left">
                            <img src="@Url.Content(Model.LogoPath)"  alt="Image" style="height:40%;width:40%;margin-left:20%" />

                        </div>

           

             

              






            </div>
                            <br /> <br /> <br /> <br /> <br /> <br /><br /> <br /> <br /> <br /> <br /> <br />
                        
                            
                        
      



                            
                        @*</form>*@
                    </div>

                </div>
</div>
            </div>
        </div>
    </div>
<script>
 


    var ShowView = function (bookid) {
        var Url = "/School/Index" ;
        window.location.href = Url;
    }


</script>