@model GDWEBSolution.Models.Schools.SchoolModel



<div class="row">
    <div class="col-md-12">
        <h3>Schools</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Edit School | Grade | Subject  </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#bio" data-toggle="tab" aria-expanded="true"> School</a></li>
                    <li class=""><a href="#edgrade" data-toggle="tab" aria-expanded="false">Grade</a></li>
                    <li class=""><a href="#eextra" data-toggle="tab" aria-expanded="false">Extra Curricular</a></li>
                    <li class=""><a href="#esubjects" data-toggle="tab" aria-expanded="false">Subjects</a></li>
                    <li class=""><a href="#eHouses" data-toggle="tab" aria-expanded="false">House</a></li>
                    <li class=""><a href="#eClass" data-toggle="tab" aria-expanded="false">Class</a></li>
                    @*<li class="disabled"><a>Disabled</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                          Dropdown <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                                <li class="divider"></li>
                                <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                            </ul>
                        </li>*@
                </ul>
                <br>
                <div id="myTabContent" class="tab-content">
                  
                    <div class="tab-pane fade active in" id="bio">
                        @{ Html.RenderAction("ShowEditSchool", new { SchoolId = @ViewBag.EditSChoolID }); }
                    </div>

                    <div class="tab-pane fade" id="edgrade">
                        @{Html.RenderPartial("SchoolGradeEdit");}
                        <div id="showgrade">
                            @{ Html.RenderAction("ShowSchoolGrade", new { SchoolId = @ViewBag.EditSChoolID }); }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="eextra">
                        @{Html.RenderPartial("EditSchoolExtra");}
                        <div id="showexactivity">
                            @{ Html.RenderAction("ShowSchooEXActivity", new { SchoolId = @ViewBag.EditSChoolID }); }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="esubjects">
                        @{Html.RenderPartial("EditSubject");}
                        <div id="showSubjects">
                            @{ Html.RenderAction("ShowEditSchoolSubjects", new { SchoolId = @ViewBag.EditSChoolID }); }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="eHouses">
                        @{Html.RenderPartial("EditHouses");}
                        <div id="showHouse">
                            @{ Html.RenderAction("ShowSchooHouse", new { SchoolId = @ViewBag.EditSChoolID }); }
                        </div>
                    </div>

                    

                    <div class="tab-pane fade" id="eClass">
                        @{Html.RenderPartial("EditClass");}
                        <div id="showclasses">
                            @{ Html.RenderAction("EShowSchooClasses", new { SchoolIdGradeId = "Scl!5" }); }
                        </div>
                    </div>


                   
                    <div class="tab-pane fade" id="extra">

                    </div>
                    <div class="tab-pane fade" id="subjects">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<div id="SuccesModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="SuccessModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successful !</h4>
            </div>
            <div class="modal-body">
                <label id="SuccesLable" class="control-label" style="color: #3bc91f"></label>
            </div>
        </div>
    </div>
</div>

<div id="deleteModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="DeleteModelBody">
        </div>
    </div>
</div>


<script>
 


    var ShowView = function (bookid) {
        var Url = "/School/Index" ;
        window.location.href = Url;
    }


</script>


