@model IEnumerable<GDWEBSolution.Models.Schools.SchoolModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h3>School</h3>
        <!-- Zero Configuration Table -->
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (ViewBag.BtnStatus != false)
                {
                    <button type="button" class="btn btn-primary" onclick="ShowView(1)"><span class="fa fa-plus"></span>Add New</button>
                }
            </div>
            @*<div class="panel-heading"><button type="button" class="btn btn-primary" onclick="ShowView2(1)"><span class="fa fa-plus"></span> Add file</button></div>*@
            <div class="panel-body">
                <table id="zctb" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SchoolId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SchoolName)
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Addresst)*@ Address
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Telephone)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.WebAddress)
                            </th>



                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SchoolId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SchoolName)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Address1)
                                    @Html.DisplayFor(modelItem => item.Address2)*@
                                    @Html.DisplayFor(modelItem => item.Address3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telephone)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.WebAddress)
                                    </td>





                                <td>
                                    <a href="#" class="hvr-buzz-out"  onclick="DetailView('@item.SchoolId')">Detail</a> |
                                         <a href="#" class="hvr-buzz-out"  onclick='EditView("@item.SchoolId")'>Edit</a> |
                                        <a href="#" class="hvr-buzz-out"  onclick='DeleteView("@item.SchoolId")'>Delete</a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script>
    var ShowView = function (bookid) {
        var Url = "/School/Create?id=" + bookid;
        window.location.href = Url;
    }

    var ShowView2 = function (bookid) {
        var Url = "/School/Create2?id=" + bookid;
        window.location.href = Url;
    }

    var EditView = function (CategoryId) {
        var Url = "/School/Edit?SchoolId=" + CategoryId;
        //$("#MyModelBody").load(Url, function () {
        //    $("#myModal").modal("show");
        //})
        window.location.href = Url;
    }
    var DetailView = function (CategoryId) {
        var Url = "/School/Detail?SchoolId=" + CategoryId;
        //$("#MyModelBody").load(Url, function () {
        //    $("#myModal").modal("show");
        //})
        window.location.href = Url;
    }

    var DeleteView = function (CategoryId) {
        var Url = "/School/Delete?SchoolId=" + CategoryId;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>
