@model IEnumerable<GDWEBSolution.Models.Application.ApplicationModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#ToDate").datepicker();
    });
    $(function () {
        $("#FromDate").datepicker();
    });
</script>

<div class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">Update Application Status</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            @using (Html.BeginForm("Index", "Application", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">From Date</lable>
                        <div class="col-sm-3">

                            @Html.TextBox("FromDate")

                        </div>
                        <lable class="col-sm-2 control-label">To Date</lable>
                        <div class="col-sm-3">

                            @Html.TextBox("ToDate")

                        </div>
                       
                    </div>
                </div>
                
                 <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">Status</lable>
                        <div class="col-sm-3">

                            @Html.DropDownList("StatusCode","")

                        </div>
                        <lable class="col-sm-2 control-label"></lable>
                        <div class="col-sm-3" >

                            <button type="submit" class="btn btn-primary" style="float:right"><span class="fa fa-search"></span> Search</button>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="panel-body">
            <table id="zctb" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RefNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusDescription)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefNo)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>

                                <td>
                                    <a class="btn btn-info" onclick='EditView("@item.AppStatusSeqNo")'><span class="fa fa-pencil"></span> Edit </a>
                                    <a class="btn btn-danger" onclick='DeleteView("@item.AppStatusSeqNo")'><span class="fa fa-trash"></span> Delete</a>

                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">

        </div>

    </div>
</div>

<style>
    #FromDate {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #ToDate {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #StatusCode {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<script>
   

    var EditView = function (SeqNo,date) {
        var Url = "/Application/Edit?Code=" + SeqNo+"&dates="+ date;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }


    var DeleteView = function (SeqNo) {
        var Url = "/Application/Delete?Id=" + SeqNo;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>