@model IEnumerable<GDWEBSolution.Models.Application.ApplicationModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">Application Status</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            @using (Html.BeginForm("ParentView", "Application", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">Referance No</lable>
                        <div class="col-sm-3">

                            @Html.TextBox("RefNo")

                        </div>
                       
                        <div>
                            <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                        </div>
                    </div>
                </div>
            }
          
        </div>
        <div class="panel-body">
            
             
                    @if (Model != null)
                    { int count=0;
                        foreach (var item in Model)
                        {
                            count++;
                            <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">Referance No</lable>
                        <div class="col-sm-3">

                            @Html.DisplayFor(modelItem => item.RefNo)

                        </div>
                       
                       
                    </div>
                </div>
                          <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">Remarks</lable>
                        <div class="col-sm-3">

                            @Html.DisplayFor(modelItem => item.Remarks)

                        </div>
                       
                       
                    </div>
                </div>
                           
                        
                          <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">Request Date</lable>
                        <div class="col-sm-3">

                           @Html.DisplayFor(modelItem => item.CreatedDate)

                        </div>
                       
                       
                    </div>
                </div>
                      
                              <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label">Satus</lable>
                        <div class="col-sm-3">

                           @Html.DisplayFor(modelItem => item.StatusDescription)

                        </div>
                       
                       
                    </div>
                </div>     
                                    
                               
                                    
                              
                                    
                              
                        }
                        if (count == 0)
                        {
                            <p>Incorrect Refrance No! Check Your Input</p>
                        }
                    }
                   
               
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">

        </div>

    </div>
</div>

<style>
    #FromDate {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #ToDate {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #StatusCode {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<script>


    var EditView = function (SeqNo, date) {
        var Url = "/Application/Edit?Code=" + SeqNo + "&dates=" + date;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }


    var DeleteView = function (SeqNo) {
        var Url = "/Application/Delete?Id=" + SeqNo;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>