@model GDWEBSolution.Models.Message.PtoSMessageHeaderModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Sent Message</h4>
</div>
<div class="modal-body">

    <form class="form-horizontal">
        <!-- Name input-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="name">From :</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.ParentName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!-- Email input-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="email">Message Type</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.MessageTypeDes, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="email">Subject</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!-- Message body -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="message">Your message</label>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "5", cols = "20", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">      
            @foreach (var item in Model.AttachmentList)
            {
                <div class="col-sm-12">
                   <div class="panel panel-default"><div class="panel-body">
                       <a href="#" onclick="dwnload(@item.SeqNo)">@item.AttachementName</a>
                        </div></div></div>
            }
        </div>
    </form>
</div>

<script>
    var dwnload = function (SeqNo) {
        debugger
        $.ajax(
        {
            url: '/SPMessage/DownloadAttachmentInbox',
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            data: {
                SeqNo: SeqNo
            },
            type: "GET",
            success: function () {
                window.location = '/SPMessage/DownloadAttachmentInbox?SeqNo=' + SeqNo;
            }
            //.error(function () {
            //    alert("Handler for .error() called.")
            //})
        });
    }


</script>
