@model IEnumerable<GDWEBSolution.Models.TeacherCategoryModel>
@{
    ViewBag.Title = "Teacher Category";
}
<div class="row">
    <div class="col-md-12">
        <h3>Teacher Category</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary" onclick="ShowView(1)"><span class="fa fa-plus"></span> Add New</button></div>
            <div class="panel-body">
                <table id="zctb" class="display table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherCategoryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedDate)
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherCategoryId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                                </td>
                                
                                <td>
                                    <a href="#" class="hvr-buzz-out" onclick="EditView(@item.TeacherCategoryId)">Edit </a> |
                                    <a href="#" class="hvr-buzz-out" onclick="DeleteView(@item.TeacherCategoryId)">Delete </a> 
                                    @*<a class="hvr-buzz-out" onclick="EditView(@item.TeacherCategoryId)"><span class="fa fa-pencil"></span>Edit </a>
                                    <a class="hvr-buzz-out" onclick="DeleteView(@item.TeacherCategoryId)"><span class="fa fa-trash"></span>Delete</a>*@
                                </td>
                            </tr>
    
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="MyModelBody">
        </div>
    </div>
</div>
<script>
    var ShowView = function (bookid) {
        var Url = "/TeacherCategory/ShowAddCategoryModel?TeacherCategoryID=" + bookid;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
    var EditView = function (CategoryId) {
        var Url = "/TeacherCategory/Edit?CategoryId=" + CategoryId;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
    var DeleteView = function (CategoryId) {
        var Url = "/TeacherCategory/Delete?CategoryId=" + CategoryId;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>
