
@model IEnumerable<GDWEBSolution.Models.Student.OptionalSubjectModel>
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <h3>Student Optional SubjectS</h3>
        <!-- Zero Configuration Table -->
        <div class="panel panel-default">
            <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="ShowView(1)"><span class="fa fa-plus"></span> Add New</button></div>
            @*<div class="panel-heading"><button type="button" class="btn btn-primary" onclick="ShowView2(1)"><span class="fa fa-plus"></span> Add file</button></div>*@
            <div class="panel-body">
                <table id="zctb" class="display table table-bordered table-hover">
                    <thead>
                        <tr>
                            
                          
                            <th>
                                @Html.DisplayNameFor(model => model.SchoolId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SchoolName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentName)
                            </th>

                             <th>
                                @Html.DisplayNameFor(model => model.GradeId)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.GradeName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ClassId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClassName)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.SubjectId)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.SubjectName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(modelItem => item.SequanceNo)
                                        @Html.DisplayFor(modelItem => item.SchoolId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SchoolName)
                                    </td>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.StudentId)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.StudentName)
                                    </th>

                                    <th>
                                        @Html.DisplayFor(modelItem => item.GradeId)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.GradeName)
                                    </th>

                                    <th>
                                        @Html.DisplayFor(modelItem => item.ClassId)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.ClassName)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.SubjectId)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.SubjectName)
                                    </th>

                                    <td>
                                        <a href="#" class="hvr-buzz-out" onclick="DetailView('@item.SchoolId','@item.StudentId')"> Details </a>|
                            

                                        <a href="#" class="hvr-buzz-out" onclick="DeleteView('@item.SequanceNo')"> Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script>
    var ShowView = function (bookid) {
        var Url = "/StudentOptionalSubject/Create?id=" + bookid;
        window.location.href = Url;
    }

    var ShowView2 = function (bookid) {
        var Url = "/School/Create2?id=" + bookid;
        window.location.href = Url;
    }

    var EditView = function (SchoolId, StudentId) {
        var Url = "/Student/Edit?SchoolId=" + SchoolId + "&StudentId=" + StudentId;
        //$("#MyModelBody").load(Url, function () {
        //    $("#myModal").modal("show");
        //})
        window.location.href = Url;
    }
    var DetailView = function (SchoolId, StudentId) {
        var Url = "/Student/Details?SchoolId=" + SchoolId + "&StudentId=" + StudentId;
        //$("#MyModelBody").load(Url, function () {
        //    $("#myModal").modal("show");
        //})
        window.location.href = Url;
    }

    var DeleteView = function (CategoryId) {
        var Url = "/StudentOptionalSubject/Delete?SequanceNo=" + CategoryId;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>