@model IEnumerable<GDWEBSolution.Models.AnnualFunctions.StudentGradeAdvanceModel>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "StudentGradeAdvance", FormMethod.Post))
{


    <div class="form-horizontal">
        <div class="modal-header">
            <h4 class="modal-title">update student grade</h4>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="row"> 
                        <lable class="col-sm-3 control-label" style="font-size:14px;">Selected Year:-@ViewBag.CurentYear</lable>
                        
                        <lable class="col-sm-3 control-label" style="font-size:14px;">Selected Grade:-@ViewBag.CurentGrade</lable>
                       
                        <lable class="col-sm-3 control-label" style="font-size:14px;">Selected Class:-@ViewBag.CurentClass</lable>
                       
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.ErrorMsg == true)
                            {
                                <h4 style="color:red">Plese Update Accademic Year</h4>
                               
                            }
                        </div>
                    </div>
                    </div>
                <hr />
                <div class="form-group">
                    <div class="row">
                        <lable class="col-sm-2 control-label" style="font-size:14px;color:black">Advance to Year</lable>
                        <div class="col-sm-3">

                            @Html.TextBox("ParameterAcedamicYear", (string)ViewBag.ParameterAcedamicYear, new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <lable class="col-sm-2 control-label" style="font-size:14px;color:black">Advance to Grade</lable>
                        <div class="col-sm-3">
                            @Html.DropDownList("GradeId", ViewBag.country as List<SelectListItem>, "", new { @class = "form-control" })
                        </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="row">
                                <lable class="col-sm-2 control-label" style="font-size:14px;color:black">Advance to Class</lable>
                                <div class="col-sm-3">
                                    @Html.DropDownList("ClassId", new SelectList("", "Value", "Text"), "--School Leaver--", new { @class = "form-control" })
                                </div>
                                <div class="col-sm-5">
                                    @if (ViewBag.ErrorMsg == false)
                                    {
                                    <button type="submit" style="float:right;" id="123" class="btn btn-primary"><span class="fa fa-flag"></span> Save</button>
                               
                                    }                       
                                 </div>
                            </div>
                        </div>
                        <a href="~/StudentGradeAdvance/Index" class="btn btn-warning"><span class="glyphicon glyphicon-step-backward"></span>Go Back</a>

                    </div>
            <div class="panel-body">
                <table id="zctb" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Select
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClassName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HouseName)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="selectedNames" value="@item.StudentId" checked /> <!-- HOW SHOULD THIS BE RENDERED? -->

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HouseName)
                                    </td>

                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<style>
    #ParameterAcedamicYear {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 100%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
</style>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#GradeId").change(function () {
            $("#ClassId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getstate")',
                dataType: 'json',
                data: { id: $("#GradeId").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#ClassId").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });

</script>