@model GDWEBSolution.Models.Evaluation.EvaluationModel


<form id="FrmEVClass" class="form-horizontal">
    <div class="form-group">
        @Html.Hidden("SchoolId1")

        @Html.LabelFor(m => m.EvaluationNo, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.EvaluationNo, ViewBag.EvaluationDrpDown as SelectList, "", new { @class = "form-control", @placeholder = "School ", @onchange = "loadevaldetail(this.value)" })
        </div>











        @Html.LabelFor(m => m.ScheduledDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.ScheduledDate, "", new { @class = "form-control", @placeholder = "Schedule Date" })
        </div>


    </div><div class="form-group">

    @Html.LabelFor(m => m.ScheduledTimeStart, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-3">
        @Html.TextBoxFor(model => model.ScheduledTimeStarts, "", new { @class = "form-control", @placeholder = "School Group" })
    </div>

    @Html.LabelFor(m => m.ScheduledTimeEnd, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-3">
        @Html.TextBoxFor(model => model.ScheduledTimeEnds, "", new { @class = "form-control", @placeholder = "School Group" })
    </div>

    </div>
    <br /><br />


    @*<div class="div123">
            @Html.LabelFor(m => m.Grade, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-3">


                @Html.DropDownListFor(model => model.Grade, ViewBag.SchoolGradeList as SelectList, "", new { @class = "form-control", @placeholder = "School ", @onchange = "GetClasslist(this.value)" })
            </div>
        </div>*@

    @*<div class="div123">
            @Html.LabelFor(m => m.Class, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-3">
                @Html.DropDownListFor(model => model.Class, ViewBag.classDrpDown as SelectList, "", new { @class = "form-control", @placeholder = "School " })
            </div>
        </div>*@





   

    <div style="text-align:center;">
        <table id="myTable" class="table table-striped table-hover table-bordered" style="width:66%; margin: 0 auto; text-align:left;">
            <thead>
                <tr>

                    <th style=" width:10%"><input type="checkbox" onclick='checkAll()' name="chooseAllRecipient" id="chooseAllRecipient" /><label>SelectAll</label></th>
                    <th style=" width:30%">Grade</th>
                    <th style=" width:30%">Class</th>

                </tr>
            </thead>

            <tbody id="contacts"></tbody>
        </table>

    </div>





    <div class="col-sm-2" style="float:right">
        <button type="button" id="btnAddQualification" onclick="AddEvolutionclz()" class="btn btn-primary"><span class="fa fa-bookmark"></span> Save</button>
    </div>

    <div class="hr-dashed"></div>
    @*     <h4 style="padding-left:120px;">Qualifications</h4>
        <div class="hr-dashed"></div>*@

</form>

<script>
    

    var loadevaldetail = function (value) {
        debugger
        $('#showbyclassd').load('/EvaluationbySchool/ShowEvaluationDetail?EvluationNo=' + value);
    }



    $('#chooseAllRecipient').click(function () {
        var chk = $(this).is(':checked');
        var cnt = $('input[type=checkbox]', "#myTable").length;
        $('input[type=checkbox]', "#myTable").each(function () {
            if (chk) {
                $(this).attr('checked', 'checked');
            }
            else {
                $(this).removeAttr('checked');
            }
        });



    });



    var AddEvolutionclz = function () {
        //debugger
        var myformdata = $("#FrmEVClass").serialize();

        //if (!$("#FrmANT").valid()) {
        //    return false;
        //}

        $.ajax({

            type: "GET",
            url: "/EvaluationbySchool/Addevaluationdataforclassef",
            data: myformdata,
            success: function (result) {
                //$("#loaderDiv").hide();
                // $("#myModal").modal("hide");
                if (result != "Exception" && result != "Exits") {
                    debugger

                    $('#showbyclassd').load('/EvaluationbySchool/ShowEvaluationDetail?EvluationNo=' + result);
                 
                }
                else if (result == "Exception") {
                    debugger
                    //$("#ErrorUName").prop('value', 'User Name Already Exits');
                    $("#ErrorLable").text("Fill all the fields");
                    //$("#btnAddQualification").prop('value', 'Save');
                    $("#myModal").modal("show");
                }
                else if (result == "Exits") {
                    //$("#ErrorUName").prop('value', 'User Name Already Exits');
                    $("#ErrorLable").text("This Grade is Already Assigned to this School");
                    //$("#btnAddQualification").prop('value', 'Save');
                    $("#myModal").modal("show");


                }
                else {

                }

            }

        })
    }

    var loadGradese = function (value) {
        debugger
     //   $('#showgrade').load('/School/ShowSchoolGrade?SchoolId=' + value);

      //  $("#showAcyr").show();
    //    $("#showGradess").show();
        
        var selectedItem = value;
        
        var ddlStates = $("#Grade");
        //var statesProgress = $("#states-loading-progress");
        //statesProgress.show();
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.RouteUrl("Studentgrade"))",
            data: { "SchoolId": selectedItem },
        success: function (data) {
            ddlStates.html('');
            ddlStates.append($('<option></option>').val("").html(""));
            $.each(data, function (ActivityCode, option) {
               
                ddlStates.append($('<option></option>').val(option.GradeId).html(option.GradeName));
            });
            
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
                 
        }
    });
    }
    var loadClasse = function (value) {
     //   $("#showStateLga").show();
        var selectedItem = value;
          var SchoolId1=$("#SchoolId1").val();

        
        var ddlStates = $("#Class");
        //var statesProgress = $("#states-loading-progress");
        //statesProgress.show();
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.RouteUrl("Studentclass"))",
            data: { "SchoolId": SchoolId1, "GradeId": selectedItem },
        success: function (data) {
            ddlStates.html('');
            ddlStates.append($('<option></option>').val("").html(""));
            ddlStates.append($('<option></option>').val("%").html("All"));
            $.each(data, function (ActivityCode, option) {
                ddlStates.append($('<option></option>').val(option.ClassId).html(option.ClassName));
            });
            
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
                 
        }
    });
    }

    function GetStudentTable1() {
        $("#showstds").show();
        var SchoolId1 = $("#SchoolId1").val();
        // var AcademicYear1 = $("#AcademicYear").val();
        var AcademicYear1 = "%";
        var GradeId1 = $("#Grade").val();
        var ClassId1 = $("#Class").val();

        $.ajax({
            url: "/StudentOptionalSubject/GetAllContacts",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { "GradeId1": GradeId1, "SchoolId1": SchoolId1, "AcademicYear1": AcademicYear1, "ClassId1": ClassId1 },
            dataType: "json",
            success: function (data) {
                var row = "";
                $.each(data, function (index, item) {
                    row += "<tr><td><input type='checkbox'value='" + item.StudentIdL + "' name='chooseRecipient'  class='my_chkBox' /></td><td>" + item.StudentName + "</td>";
                });
                $("#contacts").html(row);
            },
            error: function (result) {
                alert("Error");
            }
        });
    }

  
   // var GetClasslist = function (value) {
    $(document).ready(function () {



        //  var selectedItem = value;
        var SchoolId1 = $("#SchoolId1").val();


        // var ddlStates = $("#Class");

        $.ajax({
            url: "@(Url.RouteUrl("Studentgradeclass"))",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { "SchoolId": SchoolId1, "GradeId": "%" },
            dataType: "json",
            success: function (data) {
                var row = "";
                $.each(data, function (index, item) {
                    row += "<tr><td><input type='checkbox'value='" + item.ClassId + "' name='chooseRecipient' class='my_chkBox' /></td><td>" + item.GradeName + "</td><td>" + item.ClassName + "</td>";
                });
                $("#contacts").html(row);
            },
            error: function (result) {
                alert("Error");
            }
        });
    });

    
</script>

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
      //  $("#ScheduledDate").datepicker(); 
        $("#ScheduledTimeStarts").timepicker();
        $("#ScheduledTimeEnds").timepicker(); 
       
    });
</script>
<script >
    $(document).ready(function () {
        var date_input = $('input[name="ScheduledDate"]'); //our date input has the name "date"
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true,
        })
    });
</script>


