@{
    ViewBag.Title = "Password Change";
}

@model GDWEBSolution.Models.Home.LoginModel


<div class="row">
    <div class="col-md-12">

        <h3>Class Teacher</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Change Account Password</div>
            <div class="panel-body">
                <form id="FrmCP" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">User Name : </label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @maxlength = "100",@value = ViewBag.userId })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Old Password : </label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @maxlength = "100" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">New Password : </label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @maxlength = "100" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirm Password : </label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @maxlength = "100" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="button" value="Save" id="btnChangep" onclick="ChnagePassword()" class="btn btn-primary"><span class="fa fa-bookmark"></span> Change <span style="text-align: center; display: none" id="loaderDiv">
                                <img src="~/img/ellipsis.gif" /></span></button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<div id="SuccesModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" id="SuccessModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successful !</h4>
            </div>
            <div class="modal-body">
                <label id="SuccesLable" class="control-label" style="color: #3bc91f"></label>
            </div>
        </div>
    </div>
</div>
<script>

    var ChnagePassword = function () {
        debugger
        var password = $('#NewPassword').val();
        var confirmPassword = $('#ConfirmPassword').val();
        if (password != confirmPassword) {
            $("#ErrorLable").text("Passwords Doesn't Match");
            $("#myModal").modal("show");
            return false;
        }
        var myformdata = $("#FrmCP").serialize();
        $("#loaderDiv").show();
        $.ajax({

            type: "POST",
            url: "/Home/PasswordChange",
            data: myformdata,
            success: function (result) {
                $("#loaderDiv").hide();
                if (result == "Success") {
                    $("#SuccesLable").text("Password Changed !");
                    $("#SuccesModel").modal("show");
                }
                else if (result == "Wrong") {
                    $("#ErrorLable").text("Incorrect Password");
                    $("#myModal").modal("show");
                }
                else {
                    $("#ErrorLable").text("Unable to Process the Request !");
                    $("#myModal").modal("show");

                }

            }

        })
    }

    var loadClassList = function () {
        debugger
        var tid = $('#GradeId').val();
        $('#loadgrade').load('/Teacher/ShowGradeClassesForTC?GradeId=' + tid);
    }

    function Validate() {
        var password = $('#NewPassword').val();
        var confirmPassword = $('#ConfirmPassword').val();
        if (password != confirmPassword) {
            $("#ErrorLable").text("Passwords Doesn't Match");
            $("#myModal").modal("show");
            return false;
        }
        return true;
    }
    $(document).ready(function () {
        $(".select2_Teacher").select2({
            placeholder: "Select a Teacher",
            allowClear: true,
            width: '100%'
        });
    });
</script>
