@model GDWEBSolution.Models.SchoolCalender.SchoolCalenderModel
<script>
    $(function () {
        $("#ToDate").datepicker();
    });
    $(function () {
        $("#FromDate").datepicker();
    });
    $(function () {
        $("#AcadamicDate").datepicker();
    });
</script>

<div>
   
    <form id="myForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Activity</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(m => m.FromDate, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @placeholder = "From Date" })
                    <span class="help-block m-b-none" id="FromError"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ToDate, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @placeholder = "To Date" })
                    <span class="help-block m-b-none" id="ToError"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SpecialComment, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SpecialComment, new { @class = "form-control", @placeholder = "Special Comment" })
                    <span class="help-block m-b-none" id="CommentError"></span>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.AcadamicDate, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.AcadamicDate, new { @class = "form-control", @placeholder = "Acadamic Date" })
                    <span class="help-block m-b-none" id="AcadamicError"></span>
                </div>
            </div>

            
            <div class="form-group">
                @Html.LabelFor(m => m.IsHoliday, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    <input type="checkbox" name="IsHoliday"  class="form-control"/>
                    <span class="help-block m-b-none" id="CommentError"></span>
                </div>
            </div>

         </div>
        <div class="modal-footer">
           <a href="#" id="btnSubmit" class="btn btn-primary">Save</a>
        </div>
    </form>



</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            debugger
            var FromDate = $('#FromDate');
            var FromError = $('#FormError');
            var ToDate = $('#ToDate');
            var ToError = $('#ToError');
            var SpecialComment = $('#SpecialComment');
            var CommentError = $('#CommentError');
            var AcadamicDate = $('#AcadamicDate');
            var AcadamicError = $('#AcadamicError');




            if (!FromDate.val()) {
                // Add errors highlight
                FromDate.closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#FromError").text("Required");
                // Stop submission of the form
                // e.preventDefault();
                return;
            } else {
                FromDate.closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#FromError").text("");
            }
            if (!ToDate.val()) {
                // Add errors highlight
                ToDate.closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#ToError").text("Required");
                // Stop submission of the form
                // e.preventDefault();
                return;
            } else {
                ToDate.closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#ToError").text("");
            }

            if (!SpecialComment.val()) {
                // Add errors highlight
                SpecialComment.closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#CommentError").text("Required");
                // Stop submission of the form
                // e.preventDefault();
                return;
            } else {
                SpecialComment.closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#CommentError").text("");
            }
            if (!AcadamicDate.val()) {
                // Add errors highlight
                AcadamicDate.closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#AcadamicError").text("Required");
                // Stop submission of the form
                // e.preventDefault();
                return;
            } else {
                AcadamicDate.closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#AcadamicError").text("");
            }
           
            var myformdata = $("#myForm").serialize();
           
            $.ajax({

                type: "POST",
                url: "/SchoolCalender/Create",
                data: myformdata,
                success: function () {
                    
                    $("#myModal").modal("hide");
                    window.location.href = "/SchoolCalender/Index";

                }

            })
        })

    })


</script>