@model IEnumerable<GDWEBSolution.Models.SchoolCalender.SchoolCalenderModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper TblDataDisplay(int Year, string Month, string Nextmonth,string monthFirstDay,string type)
{
    if (type == "B") { 
        if(Model !=null){
            bool Check1 = false;
            foreach (var items in Model)
            {
                int st= Convert.ToInt16(items.StartMonth);
            int end = Convert.ToInt16(items.EndMonth);
            int mon = Convert.ToInt16(Month);
            bool check=false;
            if (st < mon && mon < end)
            {
            check = true;
            }
            if (items.StartMonth == Month || items.EndMonth == Month || check)
            {
                Check1 = true;
            }
                
            }
            if (Check1) { 
    <table class="display table table-bordered table-hover" id="tbl1" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.DateComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsHoliday)
                </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
        @{    if (Model != null)
            {

            foreach (var item in Model)
            {
            int st= Convert.ToInt16(item.StartMonth);
            int end = Convert.ToInt16(item.EndMonth);
            int mon = Convert.ToInt16(Month);
            bool check=false;
            if (st < mon && mon < end)
            {
            check = true;
            }
            if (item.StartMonth == Month || item.EndMonth == Month || check)
            {
            string backgroundColour = "white";
            if (item.IsHoliday == "Y")
            {
            backgroundColour = "rgba(193, 193, 193, 0.35)";
            }
            
            <tr style="background-color:@backgroundColour">
                <td>
                    @{
                        string Startdate = monthFirstDay + Year;
                        DateTime statdate=DateTime.ParseExact(Startdate, "MM/dd/yyyy", null);
                        DateTime Dbtodate = Convert.ToDateTime(item.FromDate);
                        
                        if(Dbtodate<statdate)
                        { 
                           <p>@Startdate ()</p> 
                        }
                        else
                        {
                            <p>@item.FromDate.ToShortDateString()</p>
                        }
                        }
                </td>
                <td>
                    @{
                        int lastDay = DateTime.DaysInMonth(2017, 01);
                        string lastdate = (lastDay + "/" + Month + "/" + Year).ToString();
                        string StFirstdate = (Nextmonth + Year).ToString();

                        DateTime Dbdate = Convert.ToDateTime(item.ToDate);
                        DateTime Firstdate = DateTime.ParseExact(StFirstdate, "MM/dd/yyyy", null);

                        if (Dbdate > Firstdate)
                        {
                            string message = lastdate + "(Countinue TO " + item.ToDate.ToShortDateString() + ")";
                            <p>@message</p>
                        }
                        else
                        {
                            <p>@item.ToDate.ToShortDateString()</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialComment)


                </td>
                <td>
                    @{
                        string holyday = item.IsHoliday;
                        if (holyday == "Y")
                        {
                            <p>Holiday</p>
                        }
                        else
                        {
                            <p>Working Day</p>
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-info" onclick='EditView("@item.CalenderSeqNo")'><span class="fa fa-pencil"></span> Edit </a>
                    <a class="btn btn-danger" onclick='DeleteView("@item.CalenderSeqNo")'><span class="fa fa-trash"></span> Delete</a>

                </td>

            </tr>
        }
        
            }
            }
            }
        </tbody>
    </table>
}
       
    }
    }
    else
    {
        if (Model != null)
        {

            foreach (var item in Model)
            {
                int st = Convert.ToInt16(item.StartMonth);
                int end = Convert.ToInt16(item.EndMonth);
                int mon = Convert.ToInt16(Month);
                bool check = false;
                if (st < mon && mon < end)
                {
                    check = true;
                }

               
                    if (item.StartMonth == Month || item.EndMonth == Month || check)
                    {
                        <li><span id="janshow" class="glyphicon glyphicon-hand-right"> @item.DateComment (From:-@item.FromDate.ToShortDateString() ,To:-@item.ToDate.ToShortDateString() )</span></li>


                    }


                    }
                    }
               
    }
}


<style>
    .nav-tabs-dropdown {
        background-color:#75afe8;
        color:black;
    }
</style>
<div class="row">
    <div class="col-md-12">

        <h3>School Calender</h3>

        <!-- Zero Configuration Table -->
        <div class="panel panel-default">
            <div class="panel-heading">
@using (Html.BeginForm("Index", "SchoolCalender", FormMethod.Post))
{
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <lable class="col-sm-2 control-label">Academic Year</lable>
                            <div class="col-sm-2">
                                @Html.TextBox("AcademicYear")


                            </div>
                            
                            <div class="col-sm-2">

                               <button type="submit" class="btn btn-primary" ><span class="fa fa-search"></span> Search</button>

                            </div>
                        </div>
                    </div>
                </div>
}
            <button type="button" class="btn btn-primary" onclick="ShowView(1)"><span class="fa fa-plus"></span> Add New Event</button></div>
            <div class="panel-body">

                <div >
                    @{
                        int years =Convert.ToInt16(ViewBag.AcademicYear);
                        string Janu = "1";
                        string Jannextmonth = "02/01/";
                        string monthFirstDay = "01/01/";

                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary monthtab"   onclick=Show(1,"janshow","djanshow")><b>January</b> <span id="janshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a>
                   
                    </h3>
                    <div id="djanshow" class="summery">
                        <ul>@TblDataDisplay(years, Janu, Jannextmonth, monthFirstDay, "H")</ul>


                    </div>
                </div>
                <div id="1" style="display:none;border:1px solid gray;padding:3px;border-radius:4px">

                   
                    @TblDataDisplay(years, Janu, Jannextmonth,monthFirstDay,"B")

                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(1,"janshow","djanshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
               
                <div>
                    @{

                        string Feb = "2";
                        string Febnextmonth = "03/01/";
                        string FEbmonthFirstDay = "02/01/";

                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(2,"febshow","dfebshow")>February<span id="febshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="dfebshow" class="summery">
                        <ul>@TblDataDisplay(years, Feb, Febnextmonth, FEbmonthFirstDay, "H")</ul>

                    
                    </div>
                </div>
                <div id="2" style="display: none;border:1px solid gray; padding: 3px; border-radius: 4px">
                    
                       
                           
                            @TblDataDisplay(years, Feb, Febnextmonth, FEbmonthFirstDay,"B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(2,"febshow","dfebshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string Mar = "3";
                        string Marnextmonth = "04/01/";
                        string MarbmonthFirstDay = "03/01/";

                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(3,"marshow","dmarshow")>March<span id="marshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="dmarshow" class="summery">
                        <ul>@TblDataDisplay(years, Mar, Marnextmonth, MarbmonthFirstDay, "H")</ul>

                    
                    </div>
                    </div>
                <div id="3" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                    
                    @TblDataDisplay(years, Mar, Marnextmonth, MarbmonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(3,"marshow","dmarshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string Apr = "4";
                        string Aprnextmonth = "05/01/";
                        string ApimonthFirstDay = "04/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(4,"apishow","dapishow")>April<span id="apishow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="dapishow" class="summery">
                        <ul>@TblDataDisplay(years, Apr, Aprnextmonth, ApimonthFirstDay, "H")</ul>

                    </div>
                </div>
                <div id="4" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                   
                    @TblDataDisplay(years, Apr, Aprnextmonth, ApimonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(4,"apishow","dapishow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string May = "5";
                        string Maynextmonth = "06/01/";
                        string MaymonthFirstDay = "05/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(5,"mayshow","dmayshow")>May<span id="mayshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="dmayshow" class="summery">
                        <ul>@TblDataDisplay(years, May, Maynextmonth, MaymonthFirstDay, "H")</ul>

                    
                    </div>
                </div>
                <div id="5" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                    
                    @TblDataDisplay(years, May, Maynextmonth, MaymonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(5,"mayshow","dmayshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string jun = "6";
                        string junnextmonth = "07/01/";
                        string junmonthFirstDay = "06/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(6,"junshow","djunshow")>June<span id="junshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="djunshow" class="summery">
                        <ul>@TblDataDisplay(years, jun, junnextmonth, junmonthFirstDay, "H")</ul>

                    </div>
                  </div>
                <div id="6" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                   
                    @TblDataDisplay(years, jun, junnextmonth, junmonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(6,"junshow","djunshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string juy = "7";
                        string juynextmonth = "08/01/";
                        string juymonthFirstDay = "07/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(7,"juyshow","djuyshow")>July<span id="juyshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="djuyshow" class="summery">
                        <ul>@TblDataDisplay(years, juy, juynextmonth, juymonthFirstDay, "H")</ul>

                    </div>
                  </div>
                <div id="7" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                    
                    @TblDataDisplay(years, juy, juynextmonth, juymonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(7,"juyshow","djuyshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                    
                </div>
                <div>
                    @{

                        string Aug = "8";
                        string Augnextmonth = "09/01/";
                        string AugmonthFirstDay = "08/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(8,"augshow","daugshow")>August<span id="augshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="daugshow" class="summery">
                        <ul>@TblDataDisplay(years, Aug, Augnextmonth, AugmonthFirstDay, "H")</ul>

                    
                    </div>
                </div>
                <div id="8" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                    
                    @TblDataDisplay(years, Aug, Augnextmonth, AugmonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(8,"augshow","daugshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string Sep = "10";
                        string Sepnextmonth = "11/01/";
                        string SepmonthFirstDay = "10/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(9,"sepshow","dsepshow")>September<span id="sepshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="dsepshow" class="summery">
                        <ul>@TblDataDisplay(years, Sep, Sepnextmonth, SepmonthFirstDay, "H")</ul>

                        
                    </div>
                </div>
                <div id="9" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                   
                    @TblDataDisplay(years, Sep, Sepnextmonth, SepmonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(9,"sepshow","dsepshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>
                    
                </div>
                <div>
                    @{

                        string OC = "10";
                        string OCnextmonth = "11/01/";
                        string OCmonthFirstDay = "10/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(10,"ocshow","docshow")>October <span id="ocshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="docshow" class="summery">
                        <ul>@TblDataDisplay(years, OC, OCnextmonth, OCmonthFirstDay, "H")</ul>

                        
                    </div>
                </div>
                <div id="10" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                   
                    @TblDataDisplay(years, OC, OCnextmonth, OCmonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(10,"ocshow","docshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string No = "11";
                        string Nonextmonth = "12/01/";
                        string NomonthFirstDay = "10/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  onclick=Show(11,"noshow","dnoshow")>November <span id="noshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="dnoshow" class="summery">
                        <ul>@TblDataDisplay(years, No, Nonextmonth, NomonthFirstDay, "H")</ul>

                        
                    </div>
                </div>
                <div id="11" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                    
                    @TblDataDisplay(years, No, Nonextmonth, NomonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(11,"noshow","dnoshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>

                </div>
                <div>
                    @{

                        string De = "12";
                        string Denextmonth = "01/01/";
                        int nextyear = years + 1;
                        string DemonthFirstDay = "12/01/";
                    }
                    <h3><a href="#" class="nav-tabs-dropdown btn btn-block btn-primary"  id="de" onclick=Show(12,"deshow","ddeshow")>December<span id="deshow" class="glyphicon glyphicon-hand-down" style="float:right"></span></a></h3>
                    <div id="ddeshow" class="summery">
                        <ul>@TblDataDisplay(nextyear, De, Denextmonth, DemonthFirstDay, "H")</ul>

                   </div>
                </div>
                <div id="12" style="display: none; border: 1px solid gray; padding: 3px; border-radius: 4px">
                    
                    @TblDataDisplay(nextyear, De, Denextmonth, DemonthFirstDay, "B")
                    <a href="#" class="nav-tabs-dropdown btn btn-block btn-dark" onclick=Hide(12,"deshow","ddeshow")>Hide Detail <span class="glyphicon glyphicon-hand-up" style="float:right"></span></a>


                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">

        </div>

    </div>
</div>

<style>
    #AcademicYear {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        display: block;
        width: 80%;
        height: 32px;
        font-size: 14px;
        line-height: 1.45;
        border-radius: 2px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .summery {
        padding-left: 50px;
        border: solid 3px;
        border-radius: 8px;
        padding: 5px;
        margin-top: -10px;
        background-color: rgba(147, 197, 75, 0.68);
    }
</style>

@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script>
    var ShowView = function (years) {
        var Url = "/SchoolCalender/ShowAddView?id=" + years;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }

    var EditView = function (SeqNo) {
        var Url = "/SchoolCalender/Edit?SeqNo=" + SeqNo;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }

    var DeleteView = function (SeqNo) {
        var Url = "/SchoolCalender/Delete?SeqNo=" + SeqNo;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }

    function Show(Id,sid,did) {
        var id = Id;
        
        
        document.getElementById(id).style.display = "block";
        document.getElementById(sid).style.display = "none";
        document.getElementById(did).style.display = "none";
       
    }
   
    function Hide(Id,sid,did) {
        var id = Id;
        document.getElementById(id).style.display = "none";
        document.getElementById(sid).style.display = "block";
        document.getElementById(did).style.display = "block";


    }
</script>


