@model GDWEBSolution.Models.Teacher.TeacherModel

@{
    ViewBag.Title = "Teacher";
}

<div class="row">
    <div class="col-md-12">

        <h3>Teachers</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Teacher Qualification | Extracurricular | Subject  </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#bio" data-toggle="tab" aria-expanded="true">New Teacher</a></li>
                    <li class=""><a href="#school" data-toggle="tab" aria-expanded="false">Teacher School</a></li>
                    <li class=""><a href="#qualification" data-toggle="tab" aria-expanded="false">Qualification</a></li>
                    <li class=""><a href="#extra" data-toggle="tab" aria-expanded="false">Extra Curricular</a></li>
                    <li class=""><a href="#subjects" data-toggle="tab" aria-expanded="false">Subjects</a></li>
                </ul>
                <br>
                <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade active in" id="bio">
                        <form id="FrmANT" class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.TeacherCategoryId, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.TeacherCategoryId, ViewBag.TeacherCategoryDrpDown as SelectList, "", new { @class = "form-control"})
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.TeacherCategoryId, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name of the Teacher" ,@maxlength = "100" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserId, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.UserId, new { @class = "form-control", @placeholder = "User Name" ,@maxlength = "20" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.UserId, null, new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @type = "date", @placeholder = "mm/dd/yyyy" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address1, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control input-lg mb", @placeholder = "Address Line 1" ,@maxlength = "150"})
                                    @Html.TextBoxFor(model => model.Address2, new { @class = "form-control mb", @placeholder = "Address Line 2" ,@maxlength = "150" })
                                    @Html.TextBoxFor(model => model.Address3, new { @class = "form-control input-sm", @placeholder = "Address Line 3" ,@maxlength = "150" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Telephone, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone Number",@maxlength = "20" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Gender, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    <div class="radio radio-inline">
														@Html.RadioButtonFor(m => m.Gender, "M")
														<label for="radio1">
															Male
														</label>
													</div>
                                    <div class="radio radio-inline">
														@Html.RadioButtonFor(m => m.Gender, "F")
														<label for="radio1">
															Female
														</label>
													</div>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Teacher Description" ,@maxlength = "500" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmployeeNo, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.EmployeeNo, new { @class = "form-control", @placeholder = "Employee No", @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.EmployeeNo, null, new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(m => m.NIC, new { @class = "col-sm-1 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.NIC, new { @class = "form-control", @placeholder = "NIC" })
                                    @Html.ValidationMessageFor(model => model.NIC, null, new { @class = "text-danger" })
                                
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.DrivingLicense, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.DrivingLicense, new { @class = "form-control", @placeholder = "Drivers License",@maxlength = "20"  })
                                    @Html.ValidationMessageFor(model => model.DrivingLicense, null, new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(m => m.Passport, new { @class = "col-sm-1 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.Passport, new { @class = "form-control", @placeholder = "Passport Id",@maxlength = "20"  })
                                    @Html.ValidationMessageFor(model => model.Passport, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-dashed"></div>


                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="button" value="Save" id="btnCreateTeacher" onclick="CreateTeacher()" class="btn btn-primary"><span class="fa fa-bookmark"></span> Save <span style="text-align: center; display: none" id="loaderDiv"><img  src="~/img/ellipsis.gif"/></span></button>
                                </div>
                            </div>



                        </form>
                    </div>
                    <div class="tab-pane fade" id="school">
                       @* @{Html.RenderPartial("Qualification");}*@

                        @*@{Html.RenderPartial("Qualification", new { TeacherId = 0 });}*@
                    </div>
                    <div class="tab-pane fade" id="qualification">
                        @{Html.RenderPartial("Qualification");}
                        <div id="showqualification">
                            @{ Html.RenderAction("ShowTeacherQualification", new { TeacherId = 0 }); }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="extra">
                        @{Html.RenderPartial("ExtraCurricularActivity");}
                        <div id="showexactivity">
                            @{ Html.RenderAction("ShowTeacherExActivity", new { TeacherId = 0 }); }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="subjects">
                        @{Html.RenderPartial("Subject");}
                        <div id="showsubjects">
                               @{ Html.RenderAction("ShowTeacherSubjects", new { TeacherId = 0 }); }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<!--Notification Modals -->
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<div id="SuccesModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content" id="SuccessModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successful !</h4>
            </div>
            <div class="modal-body">
                <label id="SuccesLable" class="control-label" style="color: #3bc91f"></label>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="deleteModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="DeleteModelBody">
        </div>

    </div>
</div>
  <script>
      $(document).ready(function () {
          $(".select2_Ex").select2({
              placeholder: "Select a Teacher",
              allowClear: true,
              width: '100%'
          });
          $(".select2_Q").select2({
              placeholder: "Select a Teacher",
              allowClear: true,
              width: '100%'
          });
          $(".select2_TS").select2({
              placeholder: "Select a Teacher",
              allowClear: true,
              width: '100%'
          });
      });
  </script>
<!--Notification Modals Ends -->

<script type="text/jscript">
    $('#UserId').blur(function () {
        var url = "/Teacher/IsUserNameExits";
        var name = $('#UserId').val();
        debugger
        $.get(url, { input: name }, function (data) {
            if (data == "Have") {
                $("#ErrorLable").text("User Name Already Exits");
                $("#btnCreateTeacher").prop('value', 'Save');
                $("#myModal").modal("show");
            }
        });
    })
</script>
<script>

    var CreateTeacher = function () {
        var myformdata = $("#FrmANT").serialize();

        if (!$("#FrmANT").valid()) {
            return false;
        }
        $("#loaderDiv").show();
        $("#btnCreateTeacher").prop('value', 'Saving');
        $.ajax({

            type: "POST",
            url: "/Teacher/CreateTeacher",
            data: myformdata,
            success: function (result) {
                $("#loaderDiv").hide();
                if (result == "Success") {
                    window.location.href = "/Teacher/Index";
                    //$('#qualification').load();
                    //$("#btnCreateTeacher").prop('value', 'Save');
                    //$('.nav-tabs a[href="#qualification"]').tab('show');                    
                }
                else if (result == "UserExits") {
                    $("#ErrorLable").text("User Name Already Exits");
                    $("#btnCreateTeacher").prop('value', 'Save');
                    $("#myModal").modal("show");
                }
                else {

                }

            }

        })
    }


</script>
