@model IEnumerable<GDWEBSolution.Models.Teacher.TeacherModel>

@{
    ViewBag.Title = "Teacher Details";
}
<div class="row">
    <div class="col-md-12">
        <h3>Teachers</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary" onclick="AddNew()"><span class="fa fa-plus"></span>Add New</button>
            </div>
            <div class="panel-body">
                <table id="zctb" class="display table table-bordered table-hover">
                    <thead>
                        <tr>
                            @*<th>
                                @Html.DisplayNameFor(model => model.TeacherId)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Address1)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.TeacherCategoryName)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Telephone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NIC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.TeacherId)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Address1)
                                    @Html.DisplayFor(modelItem => item.Address2)
                                    @Html.DisplayFor(modelItem => item.Address3)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.TeacherCategoryName)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telephone)
                                </td>
                                @if (item.Gender == "M")
                                {
                                    <td>MALE</td>
                                }
                                else
                                {
                                    <td>FEMALE
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NIC)
                                </td>
                                @if (item.IsActive == "Y")
                                {
                                    <td>YES</td>
                                }
                                else
                                {
                                    <td>NO
                                    </td>
                                }
                                <td align="center">
                                    @*<div class="btn-group">
                                        <button type="button" class="btn btn-primary" onclick="DetailsView(@item.TeacherId)"><span class="fa fa-info"></span></button>
                                        <button type="button" class="btn btn-primary" onclick='EditView(@item.TeacherId,"@item.Name")'><span class="fa fa-pencil"></span></button>
                                        <button type="button" class="btn btn-primary" onclick="DeleteView(@item.TeacherId)"><span class="fa fa-trash"></span></button>
                                    </div>*@
                                    <a href="#" class="hvr-buzz-out" onclick="DetailsView(@item.TeacherId)">Detail </a> |
                                    <a href="#" class="hvr-buzz-out" onclick='EditView(@item.TeacherId,"@item.Name")'>Edit </a> |
                                    <a href="#" class="hvr-buzz-out" onclick="DeleteView(@item.TeacherId)">Delete</a>
                                </td>
                            </tr>
    
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="MyModelBody">
        </div>

    </div>
</div>
<script>
    var DetailsView = function (TeacherID) {
        debugger
        var Url = "/Teacher/Details?TeacherId=" + TeacherID;
        window.location.href = Url;
    }
    var EditView = function (TeacherID, Name) {
        debugger
        var Url = "/Teacher/EditTeacher?TeacherId=" + TeacherID + "&Name=" + Name;
        window.location.href = Url;
    }

    var AddNew = function () {
        debugger
        var Url = "/Teacher/Create";
        window.location.href = Url;
    }

    var DeleteView = function (TeacherId) {
        var Url = "/Teacher/DeleteTeacher?TeacherId=" + TeacherId;
        $("#MyModelBody").load(Url, function () {
            $("#myModal").modal("show");
        })
    }
</script>
